#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #fff;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  background: black;
}